/* || General styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

p {
    font-size: 16px;
}

/* || Headings */
h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    /* styles main sections */
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    /* styles sidebar */
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    /* styles footer */
    font-size: 20px;  
}

/* || Header and Main Navigation */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

strong {
    /* styles 'seo' in h1 in header */
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* || Banner image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* || Main Sections (Techniques) */
.all-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.float-left {
    /* styles top and bottom section img */
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    /* styles middle section img */
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* || Sidebar (Benefits) */
.all-benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.all-benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* || Footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}